@import '../theme.styl'
.card
  height: 100%
  text-decoration: none
  padding: $cardPadding
  background-color: white
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2)
  border-radius: 10px
  position: relative
  &.title-on-top
    position: relative
    .detail
      position: absolute
      width: 100%
      top: 25px
      padding: 0 25px
    h3.title
      position: absolute
      top: 25px
      left: 0
      right: 0
      text-align: center
  &.hoverable
    transition: 0.2s linear
    cursor: pointer
    will-change: auto
    &:hover
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2)
      & > .button
        bottom: 23px
    &:focus
    &:active
      h3.title
        text-decoration: none
  &.with-button
    position: relative
    & > .button
      width: 25.725px
      height: 20px
      position: absolute
      right: calc(50% - 12.862px)
      bottom: 20px
      background-image: url("/static/webapp/images/thin-right-arrow.svg")
      background-size: cover
      transition: 0.2s linear
  &.heartbeat
    @media screen and (max-width: 1390px)
      .size-adjustable
        font-size: 11px
      button
        bottom: 5px
    @media screen and (max-width: 1290px)
      padding: 10px
    @media screen and (max-width: 965px)
      font-size: 12px
  h3.title
    color: $primaryColor
    margin: 0 0 5px 0
    font-size: 18px
    font-weight: bold
    line-height: normal
    text-transform: uppercase
    & > span
      font-weight: normal
      text-transform: none
  img
    width: 100%
    height: auto
  .header
    color: $primaryColor
    font-size: 23px
    font-weight: normal
    width: 100%
    height: 68px
    padding: 15px 25px
    background-color: $contrastLightColor
    border-radius: 10px 10px 0 0
    .smaller-text
      font-size: 18px
    .right-side-text
      font-size: 18px
      margin-top: 5px
      float: right
      &.small
        font-size: 14px
    .product-info-icon
      display: block
      float: right
      img
        width: 20px
  .ui-row
    padding: 3px 0
    & > *
      display: inline-block
      vertical-align: middle
      width: 50%
      &:last-child
        text-align: right
        font-weight: bold
  .value
    color: $primaryColor
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .data
      font-weight: bold
    .detail
      text-transform: uppercase
      font-weight: bold
    & > *
      text-align: center
      &.data
        font-size: 44px
        &.big
          font-size: 66px
        &.very-big
          font-size: 100px
      &.detail
        font-size: 14px
        &.medium-font
          font-size: 15px
        &.large-font
          font-size: 24px
    &.two-values
      & > *
        height: 50%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        & > *
          text-align: center
          &.data
            &.big
              font-size: 55px
          &.detail
            &.medium-font
              font-size: 18px
