$sizeOfCheckbox = 20px

.is-checkbox
  &.with-label
    position: relative
    padding-left: 20px
    .checkbox-checkbox
      position: absolute
      left: 0
  &.mixed
    .checkbox-checkbox
      .checkmark::after
        top: 2px
        left: 4px
        width: 11.5px
        height: 10px
        border: solid $secondaryColor
        border-width: 0 0 3px 0
        transform: rotate(0)
  &.button-style
    .checkbox-checkbox
      input
        &:checked ~ .checkmark
          border-color: #6dd400
          background-color: #6dd400
          &::before
            display: none
          &::after
            width: 12px
            height: 18px
            top: calc(50% - 12px)
            left: calc(50% - 7px)
            border-color: white
            border-width: 0 4px 4px 0
         &:disabled ~ .checkmark
            border-color: #cacaca
            &::before
              color: #cacaca
      .checkmark
        padding: 17px 48px
        font-size: 14px
        font-weight: 600
        border: 1px solid #0152CC
        &::before
          color: #0152cc
          content: 'Select'
          transform: rotate(0)
          border: none
          width: auto
          height: auto
          position: absolute
          top: calc(50% - 10px)
          left: calc(50% - 20px)
          
  .checkbox-checkbox
    display: block
    position: relative
    font-size: 22px
    user-select: none
    margin-bottom: 0
  .checkbox-checkbox input
    display: none
  .checkmark
    width: $sizeOfCheckbox
    height: $sizeOfCheckbox
    cursor: pointer
    display: block
    border: 1px solid #999999
    border-radius: 3px
    &:hover
      border: 2px solid $secondaryColor
  .checkmark::after
    content: ""
    position: absolute
    display: none
  .checkbox-checkbox input:checked ~ .checkmark::after
    display: block
  .checkbox-checkbox .checkmark::after
    top: 5px
    left: 6px
    width: 7px
    height: 9px
    border: solid $secondaryColor
    border-width: 0 3px 3px 0
    transform: rotate(45deg)
  .checkbox-label
    display: inline-block
    vertical-align: middle
    margin-left: 10px
  .is-infoPopup-trigger
    width: 16px
    margin-left: 8px
