@import '../theme.styl'

.menu
  width: 247px
  position: fixed
  top: $navigationHeight
  left: 0
  bottom: 0
  background-color: $primaryColor
  z-index: $zIndexSideMenu
  .menu-content
    height: 100%
    overflow-y: auto
    &.support-button-exists
      height: calc(100% - 75px)
  @media screen and (max-width: $rcTabletPoint)
    width: calc(100% - 30px)
    margin: 15px
    position: static
    border-radius: 20px
    user-select: none
    .menu-header
      color: white
      display: block !important
      padding: 10px
      text-align: center
      cursor: pointer
      i
        margin-right: 10px
    .menu-content
      padding-bottom: 15px
      display: none
      &.open
        display: block
  .menu-header
    display: none
  .menu-item
    position: relative
  .partner-companyFilter
    width: 200px
    margin: 15px auto 15px auto
    display: block
    .Select-control
      border-color: #fff
      .Select-value
        background-color: $primaryColor
        .Select-value-label
          color: #fff !important
      .Select-arrow
        border-color: #fff transparent transparent

