@import '../../../theme.styl'

.licenses
  height: calc(50% - 7.5px)
  width: 100%
  margin-top: 15px
  position: relative
  .product-status-container
    height: calc(100% - 40px)
    padding: 15px 15px 8px 15px
    .product-item
      height: calc(100% / 6)
      font-size: 12px
      color: $primaryColor
      .product-left-side
        display: inline-block
        vertical-align: middle
        width: calc(100% - 10px)
        position: relative
        top: 20%
        .product-logo
          height: 18px
          width: 16px
          margin-right: 7px
      .product-right-side
        display: inline-block
        vertical-align: middle
        width: 10px
        text-align: right
        position: relative
        top: 20%
  .expiery-container
    position: absolute
    bottom: 0
    height: 40px
    padding: 10px 15px
    width: 100%
    border-top: 1px solid #EBEBEB
    color: $primaryColor
    font-size: 12px
    > div
      width: 50%
    img
      width: 16px
      height: 16px
      margin-right: 7px
      vertical-align: bottom
    .expiery
      color: #565B6D
      text-align: right
