@import '../theme.styl'

.dropdown-backdrop
  background-color: transparent !important
.navigation
  height: $navigationHeight
  position: fixed
  top: 0
  left: 0px
  right: 0px
  background: #223063
  background-image: none
  z-index: $zIndexNavigation
  user-select: none
  .navigation-toggle
    color: white
    font-size: 20px
    padding: 20px
    float: right
    display: none
    text-decoration: none
    cursor: pointer
  .navigation-logo
    width: 169.22px
    height: 50px
    display: inline-block
    float: left
    margin: 10px 0 0 20px
    background: no-repeat url("/static/webapp/img/main-logo.svg")
    background-size: contain
    @media screen and (max-width: 1170px)
      width: 40px
      height: 40px
      margin: 15px 20px
      background-image: url("/static/webapp/images/iron-icon.png")
  .navigation-content
    height: 70px
    padding-left: 243px
    @media screen and (max-width: 1500px)
      padding-left: 200px
    @media screen and (max-width: 1170px)
      padding-left: 80px
    & > *
      display: inline-block
    .navigation-group
      &.center
        margin-left: 0
        .navigation-item
          margin-right: 0
          .navigation-item-content
            @media screen and (min-width: $rcTabletPoint) and (max-width: 1400px)
              max-width: 150px
              overflow: hidden
              white-space: nowrap
              text-overflow: ellipsis
            @media screen and (max-width: 1270px)
              max-width: 130px
      &.right
        float: right
        padding-right: 15px
        & > *
          margin-left: 14px
          @media screen and (max-width: 1460px)
            margin-left: 0
    .navigation-item
      display: inline-block
      vertical-align: top
      position: relative
      padding-top: 15px
      .navigation-item-content
        color: #F7FAFF
        display: inline-block
        padding: 10px
        cursor: pointer
        border-radius: 4px
        &:hover, &:focus
          background-color: #37436B
          text-decoration: none
        img, i
          margin-right: 5px
        img
          padding-bottom: 2px
      &.no-hover
        .navigation-item-content
          cursor: text
          user-select: all
          &:hover, &:focus
            background-color: initial
            text-decoration: initial
      .mw150
        max-width: 150px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        display: inline-block
        vertical-align: middle
        @media screen and (max-width: $rcTabletPoint)
          font-weight: bold
        @media screen and (max-width: 1210px)
          max-width: 130px
      .dropdown-menu
        a, div
          color: #565B6D
          font-size: 13px
          width: 100%
          border-radius: 0
          padding: 8px 15px
          white-space: nowrap
          &:hover
            background-color: #e8e8e8
            background-image: linear-gradient(to bottom, whitesmoke 0, #e8e8e8 100%)
        a
          color: red
          border-top: 1px solid #EBEBEB
    .selected::before
      content: ' '
      height: 4px
      position: absolute
      top: 0
      left: 0
      right: 0
      background: #00AFFF
      @media screen and (max-width: $rcTabletPoint)
        display: none

  @media screen and (max-width: $rcTabletPoint)
    .navigation-toggle
      display: inline-block
    .navigation-content
      position: fixed
      top: $navigationHeight
      right: 0
      bottom: 0
      left: 0
      height: auto
      display: none
      background-color: $primaryColor
      text-align: center
      padding: 15px 0 5px 0
      overflow-y: scroll
      &.open
        display: block
        .navigation-group,
        .navigation-item,
        .navigation-item-content,
        .mw150
          max-width: initial !important
          margin: 0 auto !important
          display: block
        .navigation-group.right
          padding: 0
          float: none !important
        & > *
          & > div, & > a
            .dropdown-menu
              position: static
              margin: 0 auto
              float: none
              text-align: center
              display: block
              background-color: transparent
              box-shadow: none
              border: none
              li 
                margin-top: 15px
                div, a
                  color: white
                  font-size: 14px
                  padding: 10px
                  &:hover, &:focus
                    background: none
                    background-color: #37436B
                    text-decoration: none
                a
                  color: red
                  border: none
           
.triangle
  margin-left: 7px
  position: relative
  top: 1px
  @media screen and (max-width: $rcTabletPoint)
    display: none
