.horizontal-styled-scroll
  padding-bottom: 5px
  /* width */
  &::-webkit-scrollbar
    height: 10px
  /* Track */
  &::-webkit-scrollbar-track
    background: #f7faff
  /* Handle */
  &::-webkit-scrollbar-thumb
    background: #c8d2e1
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover
    background: #b5becb
