$baseMargin = 15px
$baseBorderRadius = 10px
$cardPadding = 25px

$navigationHeight = 70px

$primaryColor = #2F354A
$contrastColor = #BAD2DE
$contrastLightColor = #EBF2F6

$secondaryColor = #0152CC

$textGray = #888888
$borders = #E5E5E5

$red = #f83a32
$gray = #bdbdbd
$grayLight = #eaeaea
$green = #4caf50
$blackish = #1C1F24

$priorityLow = #2cdadf
$priorityMedium = #ffb13a
$priorityHigh = #f83a32

// z-index
$zIndexRCReport = 1
$zIndexRCList = 3
$zIndexRCTopBar = 4

$zIndexDropdown = 3
$zIndexSideMenu = 5
$zIndexNavigation = 100

$zIndexModal = 1000
$zIndexModalX = 1001

$rcCollapseListPoint = 1420px
$rcCollapseReportAction = 1700px
$rcStackRowCards = 1250px
$rcTabletPoint = 1050px
$rcPhonePointMin = 751px
$rcPhonePoint = 750px


:export
    zIndexModal $zIndexModal
    zIndexModalX $zIndexModalX
    baseMargin $baseMargin
    cardPadding $cardPadding

    navigationHeight $navigationHeight

    primaryColor $primaryColor
    contrastColor $contrastColor
    contrastLightColor $contrastLightColor

    secondaryColor: $secondaryColor

    textGray $textGray
    borders $borders

    red $red
    gray $gray
    grayLight $grayLight
    green $green
    blackish $blackish

    priorityLow $priorityLow
    priorityMedium $priorityMedium
    priorityHigh $priorityHigh

    zIndexDropdown $zIndexDropdown

    rcTabletPoint $rcTabletPoint
    rcPhonePointMin: $rcPhonePointMin
    rcPhonePoint $rcPhonePoint
