@import './theme.styl'
@import './loaders.styl'

.loader-hidden
  display: none

.loader-active
  display: block

.loader-container
  height: 100%
  position: relative
  & > *
    position: absolute
    top: 50%
    left: 50%
    .ball-beat
      margin-left: -30px

// sumernote editor style
.note-modal-content
  padding-bottom: 10px