@import '../../theme.styl'

.companies
  overflow-y: hidden
  .filters-container
    background: #fefefe
    height: 55px
    line-height: 55px
    border-bottom: solid 1px #e5e5e5
  .companies-list
    height: calc(100% - 79px)
    background-color: white
    overflow-y: scroll
    table
      margin-bottom: 0
  .arrow-icon
    width: 100%
    height: auto
    width: 20px
    right: 25px
    cursor: pointer
  .paginator-positioner
    text-align: left
  .searchbox-positioner
    width: 400px
    margin-bottom: 20px
  .td-align
    text-align: center
