@import '../../theme.styl'

.company-signup
  width: 100%
  .company-signup-info
    color: $primaryColor
    padding: 15px 0
    font-size: 16px
    border-radius: 5px
    max-width: 420px
    &.msg
      color: white
      font-size: 14px
      font-weight: bold
      padding: 15px 25px
      &.success
        background-color: $green
      &.error
        background-color: $red
  .company-signup-form
    height: calc(100% - 118px)
    margin-top: $baseMargin
    overflow-y: scroll
    padding-right: 25px
  form
    width: 100%
  .field
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0
    max-width: 420px
    .label-name
      color: $primaryColor
      font-size: 14px
      font-weight: bold
      display: inline-block
      text-transform: uppercase
      line-height: 3
    .block_display
      display: block
      margin-bottom: 15px
  .submit-button
    position: absolute
    bottom: 30px
    right: 60px
