@import '../../theme.styl'

.msp
  .distibution
    height: 100%
    position: relative
    .recharts-responsive-container
      .recharts-wrapper
        cursor: pointer !important
    .divider
      width: 2px
      height: 50%
      position: absolute
      top: 25%
      left: calc(50% - 1px)
      background-color: $contrastColor
    & > *
      height: 100%
      display: inline-block
      vertical-align: top
      &.health-dist-container
        width: 50%
        position: relative
        h3.title
          font-size: 24px
          text-align: center
          position: absolute
          left: 0
          right: 0
          padding: 25px
      &.my-companies
        width: 50%
        position: relative
  .left-side
    & > .card
      & > .button
        right: 25px
  .right-side
    & > *
      height: 50%
      &:first-child
        padding-bottom: ($baseMargin / 2)
        & > *
          width: ("calc(50% - %s / 2)" % $baseMargin)
          height: ("calc(50% - %s / 2)" % $baseMargin)
          display: inline-block
          vertical-align: top
          &:nth-child(2n+1)
            margin-right: $baseMargin
          &:nth-child(1), &:nth-child(2)
            margin-bottom: $baseMargin
      &:last-child
        padding-top: ($baseMargin / 2)
  .card
    .info
      color: $primaryColor
      font-size: 15px
      text-align: center
      position: absolute
      bottom: 75px
      left: 0
      right: 0
