@import '../../theme.styl'

.partner
  padding: $baseMargin
  .title
    color: $primaryColor
    font-size: 14px
    font-weight: 600
  .date-filter
    width: 200px
    float: right
  .mailboxes-status
    & > *:first-child
      margin-top: 50px
    img
      width: 40px
      margin: auto
      display: block
    .mailboxes-status-value
      color: #4C6F86
      font-size: 1.8em
      font-weight: 600
      margin-top: 5px
  .mailboxes-status
    .loader-container
        padding: 50px
  .incidents-container
    margin-top: 15px
    white-space: nowrap
    .loader-container
        padding: 90px
    .incidents-ring-container
      width: 180px
      height: 180px
      float: left
    .incidents-numbers-container
      width: calc(100% - 180px)
      padding: 40px 0 40px 20px
      display: inline-block
      & > .is-row:first-child
        margin-bottom: 20px
    .incidents-number
      color: #4c6f86
      font-size: 1.3em
      font-weight: 600
      line-height: 1
      margin-bottom: 5px
    .incidents-numbers-item
      position: relative
      padding-left: 55px
      & > *
        white-space: nowrap
      .circle
        width: 40px
        height 40px
        margin-right: 15px
        border: 1px solid
        border-radius: 20px
        position: absolute
        top: 0
        left: 0
        &.active
          box-shadow: 0 0px 7px #7d7dff
        &.new
          padding: 9px
          border-color: #4C6F86
        &.phishing
          padding: 9px 11px
          border-color: #F83A32
          img
            width: 16px
        &.spam
          padding: 7px 9px
          border-color: #F7B500
        &.fp
          padding: 9px
          border-color: #33B200
  & > .is-row
    margin-bottom: 30px
    & > .card
      height: 250px
      .title
        text-transform: uppercase
  .is-table
    width: 100%
    min-height: auto
    margin-top: 30px
    padding-bottom: 15px
    border-radius: 0 0 15px 15px
    .is-table-header
      background-color: white
      border-radius: 15px 15px 0 0
      .filterby-label
        width: 4.3em
        margin-bottom: 0
      .companies-filter
        margin: 0
        padding: 6px 0
        float: left
        span
          color: $secondaryColor
          cursor: pointer
          user-select: none
          &.active
            font-weight: bold
          &.divider
            color: black
            margin: 0 5px
            cursor: default
      .is-search-field
        float: none
        display: inline-block
        margin: 0
    .is-table-content
      min-height: 100px
      background-color: white
      box-shadow: inset 0 2px 5px rgba(0,0,0,0.1)
      margin-bottom: 70px
      & > .loader-container
        margin-top: 35px
      tr:hover
        .hidden-actions
          display: block
      .hidden-actions
        float: right
        display: none
        img
          margin-left: 10px
          cursor: pointer
          float: right
